.OdinHeadline{
    color: rgb(202, 189, 15);
    font-weight: 900;
    line-height: 0cap;
    font-family: Arial, Helvetica, sans-serif;
}

.LasagnaLink {
    color: #007bff;
    text-decoration: none;
    font-weight: normal;

}

.ListBoxContainer{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.ListBox {
    border: 2px solid #007bff;    
    padding: 10px;
    background-color: #f9f9f9;    
    border-radius: 8px;           
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    list-style-type: none;         
    width: 200px;                  
}

.ListBox.li{
    font-size: 1.2rem;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
}
.recipe-steps {
    background-color: #f9f9f9; /* Light background color */
    padding: 20px; /* Space inside the box */
    border: 2px solid #ddd; /* Border around the box */
    border-radius: 10px; /* Rounded corners */
    width: 300px; /* Width of the box */
    margin: 20px auto; /* Center the box on the page */
  }
  
  .recipe-steps h3 {
    text-align: center;
    font-size: 1.5em;
    color: #333;
  }
  
  .recipe-steps ol {
    padding-left: 20px; /* Space for the list bullets */
  }
  
  .recipe-steps ol li {
    margin-bottom: 10px; /* Space between list items */
    font-size: 1em;
    color: #444;
  }

  .image-container{
    text-align: center;
    
  }
  